<!doctype html>
<html>

  <head>
    <title>UW IoT Lab3</title>
    <meta charset="utf-8">
      <title>UW IoT Lab3</title>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/lab3.css') }}">
      <script src="{{ url_for('static',filename='js/jquery-3.1.1.min.js') }}"></script>
      <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
      <script src="{{ url_for('static',filename='js/lab3.js') }}"></script>

      <style>
          body{ background-color: lightblue;}
          #red_led_btn {width: 150px; height: 75px; color: white; background-color: red;}
          #grn_led_btn {width: 150px; height: 75px; color: white; background-color: green;}
          #blu_led_btn {width: 150px; height: 75px; color: white; background-color: blue;}

      </style>
  </head>

  <body>

    <!-- ... our HTML goes here!! -->
    <!-- ... our custom JS jQuery scripting goes here!! -->
    <h2>UW IoT | Lab 3: GPIO API and WebApp</h2>
    <h3>Switch: {{'On' if switch else 'Off'}}</h3>
    <h4>RED LED (on GPIO18): {{'ON' if led1 else 'OFF'}}</h4>
    <h4>GREEN LED (on GPIO13): {{'ON' if led2 else 'OFF'}}</h4>
    <h4>BLUE LED (on GPIO23): {{'ON' if led3 else 'OFF'}}</h4>

    <p>
      <button type="button" id="red_led_btn">RED LED</button><br><br>
      <button type="button" id="grn_led_btn">GREEN LED</button><br><br>
      <button type="button" id="blu_led_btn">BLUE LED</button><br><br>
    </p>



    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>

    <script>


        function firstFunction() {
            var d = $.Deferred();
            // some very time consuming asynchronous code...
            setTimeout(function () {
                console.log('1');
                d.resolve();
            }, 1000);
            return d.promise();
        }

        function thirdFunction() {
            var d = $.Deferred();
            setTimeout(function () {
                console.log('3');
                d.resolve();
            }, 1000);
            return d.promise();
        }


        function secondFunction() {
            var d = $.Deferred();
            setTimeout(function () {
                console.log('2');
                d.resolve();
            }, 1000);
            return d.promise();
        }

        function fourthFunction() {
            var d = $.Deferred();
            // last function, not executed until the other 3 are done.
            setTimeout(function () {
                console.log('4');
                d.resolve();
            }, 1000);
            return d.promise();
        }

        // sequence through the synchronous functions using '.then'
        firstFunction().then(thirdFunction).then(secondFunction).then(fourthFunction);



        // Let's read the current LED state
        function initial_conditions() {
            var d = $.Deferred();

            setTimeout(function () {
                $.get('/leds/1', function (data) {
                    led1 = $.trim(data.split(':')[1]);
                });

                $.get('/leds/2', function (data) {
                    led2 = $.trim(data.split(':')[1]);
                });

                $.get('/leds/3', function (data) {
                    led3 = $.trim(data.split(':')[1]);
                });

                // console.log("Got my data now!");
                d.resolve();
            }, 1);
            return d.done();
        }

        // Let's initialize our LED vars to the current LED state "ON"/"OFF"
        function led_status() {
            var d = $.Deferred();

            setTimeout(function () {
                if (led1 === '0') { led1 = "OFF" } else { led1 = "ON" }
                if (led2 === '0') { led2 = "OFF" } else { led2 = "ON" }
                if (led3 === '0') { led3 = "OFF" } else { led3 = "ON" }
                d.resolve();

                console.log("RED:", led1);
                console.log("GRN:", led2);
                console.log("BLU:", led3);
            }, 200);
            return d.promise();
        }

        // make sure to intialize synchronously (10ms back to back)
        initial_conditions().then(led_status);





    // start executing only after document has loaded
    $(document).ready(function() {
      // establish global variables for LED status
      var led1;
      var led2;
      var led3;

      // The button click functions run asynchronously in the browser
      $('#red_led_btn').click(function() {
        if (led1 === "OFF") {led1 = "ON";} else {led1 = "OFF";}
        var params = 'led=1&state='+led1;
        console.log('Led Command with params:' + params);
        $.post('/ledcmd', params, function(data, status){
                console.log("Data: " + data + "\nStatus: " + status);
        });
      });

      // code the green and blue buttons the same
      $('#grn_led_btn').click(function() {
        if (led2 === "OFF") {led2 = "ON";} else {led2 = "OFF";}
        var params = 'led=2&state='+led2;
        console.log('Led Command with params:' + params);
        $.post('/ledcmd', params, function(data, status){
                console.log("Data: " + data + "\nStatus: " + status);
        });
      });
      // code the green and blue buttons the same
      $('#blu_led_btn').click(function() {
        if (led3 === "OFF") {led3 = "ON";} else {led3 = "OFF";}
        var params = 'led=3&state='+led3;
        console.log('Led Command with params:' + params);
        $.post('/ledcmd', params, function(data, status){
                console.log("Data: " + data + "\nStatus: " + status);
        });
      });



    });

    </script>



<script type="text/javascript">
  var switchSource = new EventSource("{{ url_for('myData') }}");
  // switchSource.onmessage = function(e) {
  //   console.log(e.data);
  // }
</script>







  </body>
</html>
